/*Tabs backend*/
.tab-block {
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background: #f9f9f9;
}
.remove-tab {
    margin-top: 10px;
    background: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

/* Contenedor General */
.tab-container-horizontal {
    position: relative;
    max-width: 1120px;
    margin: auto;
    overflow: hidden;
}

/* Barra de progreso superior */
.progress-bar-container {
    position: relative;
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    margin-bottom: 15px;
    cursor: pointer;
}
.progress-bar-back{
    background: #e9ecff; /* Color de fondo claro */
    height: 10px;
    width: 100%;
    border-radius: 20px; /* Bordes redondeados */
}
.progress-bar {
    width: 25%; /* Cambia dinámicamente con JS */
    height: 100%;
    background: #FFD700; /* Amarillo vibrante */
    border-radius: 20px; /* Bordes redondeados */
    transition: width 0.4s ease-in-out;
    height: 20px;
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
    position: absolute;
    left: 0;
    top: 15px;
}
.progress-bar-vertical {
  transition: top 0.2s ease;
}
.progress-bar-vertical {
  position: absolute;
  transition: top 0.4s cubic-bezier(0.25, 1, 0.5, 1); /* estilo "easeOutBack" */
}
/* Tabs */
.tabs-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    scrollbar-width: none;
}

.tabs-wrapper::-webkit-scrollbar {
    display: none;
}

ul.nav-tabs-horizontal {
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: space-between;
}

.nav-tabs-horizontal .nav-item {
    flex: 1;
    text-align: center;
}


.nav-tabs-horizontal .nav-link {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 14px;
    color: #1a1a1a;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s ease;
    width: 100%;
box-shadow: none !important;
	max-width: 220px;
}

.nav-tabs-horizontal .nav-link span {
    font-weight: normal;
    color: #0056b3;
}

.nav-tabs-horizontal .nav-link.active {
    color: #FFD700;
}

/* Contenido de los Tabs */
.tab-content-horizontal {
    text-align: center;
    padding-top: 20px;
}

.tab-container-vertical {
    display: flex;
    align-items: flex-start;
    max-width: 1000px;
    margin: auto;
    gap: 20px;
	flex-wrap: wrap;
}

.progress-bar-container-vertical{
	width: 5%;
}

.tab-content-horizontal .tab-pane {
    display: none;
}

.tab-content-horizontal .tab-pane.active {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.tab-image,
.tab-content-text{
    width: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}
.tab-image img{
	min-width: 100%;
}
.tab-content-text{
    color: #000;
    text-align: left;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}

.tab-title{
    color: var(--colors-common-secundary-500, #000);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}
.tab-excerpt{
    color: var(--colors-common-tertiary-500, #5166EC);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
    color: #5166EC;
	display: block;
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    white-space: normal; /* Permite saltos de línea */
    word-wrap: break-word; /* Rompe palabras largas si es necesario */
    overflow-wrap: break-word; 
}

/*Vertical*/
/* Contenedor Principal de Tabs Verticales */
/* Contenedor Principal de Tabs Verticales */
.tab-container-vertical {
    display: flex;
    align-items: flex-start;
    max-width: 992px;
    margin: auto;
    gap: 20px;
    min-height: 475px; /* Altura mínima */
}

/* Barra de Progreso Vertical - Se ajustará dinámicamente */
.tab-container-vertical > .progress-bar-container {
    position: relative;
    width: 8px;
    flex-shrink: 0;
    min-height: 470px;
    padding: 0 20px;
}
.tab-container-vertical > .progress-bar-container > .progress-bar-back{
    background: #e9ecff;
    border-radius: 10px;
    overflow: hidden;
    width: 10px;
    min-height: 470px;
	height: 100%;
}

/* Barra de progreso amarilla */
.tab-container-vertical > .progress-bar-container > .progress-bar {
    width: 20px !important;
    height: 114px !important;
    background: #FFD700;
    border-radius: 10px;
    transition: top 0.1s ease-in-out;
    position: absolute;
    top: 0;
    cursor: grab;
    left: 15px;
}

.tab-container-vertical > .progress-bar-container > .progress-bar:active {
    cursor: grabbing;
}

/* Lista de Tabs (En Columna) */
.tab-container-vertical > .tabs-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 475px;
    width: 45%; /* Se puede ajustar según necesidad */
}
#conoce-mas > .tab-container-desktop > .tabs-wrapper {
    width: 50%;
}
#conoce-mas > .tab-container-desktop > .tabs-wrapper > ul#scroll-tabs > li.nav-item{
	align-items: center !important;
}
#scroll-tabs {
    overflow-x: auto;
    white-space: normal;
    scroll-behavior: smooth;
}

/* Lista de Tabs */
.tab-container-vertical > .tabs-wrapper > .nav-tabs-vertical {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Asegura que ocupe el espacio disponible */
	margin: 0;
}

/* Elementos de cada Tab */
.tab-container-vertical > .tabs-wrapper > .nav-tabs-vertical > .nav-item {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
/*
.tab-container-vertical > .tabs-wrapper > .nav-tabs-vertical > .nav-item:nth-child(1),
.tab-container-vertical > .tabs-wrapper > .nav-tabs-vertical > .nav-item:nth-child(3){
	align-items: center;
}
.tab-container-vertical > .tabs-wrapper > .nav-tabs-vertical > .nav-item:nth-child(1) > .nav-link,
.tab-container-vertical > .tabs-wrapper > .nav-tabs-vertical > .nav-item:nth-child(3) > .nav-link{
	padding-top: 0;
}*/

/* Botón de cada Tab */
.tab-container-vertical > .tabs-wrapper > .nav-tabs-vertical > .nav-item > .nav-link {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 16px;
    color: #1a1a1a;
    cursor: pointer;
    text-align: left;
    padding: 0 0 0 0;
    width: 100%;
    transition: color 0.3s ease;
    box-shadow: none;
}
.tab-container-vertical > .tabs-wrapper > .nav-tabs-vertical > .nav-item > .nav-link > .tab-title{
    text-align: left;
    color: var(--colors-common-black, #000);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
}

.tab-container-vertical > .tabs-wrapper > .nav-tabs-vertical > .nav-item > .nav-link.nav-link.active > .tab-title{
    color: #5166EC;
}

.tab-container-vertical > .tabs-wrapper > .nav-tabs-vertical > .nav-item > .nav-link > .tab-excerpt{
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-align: left;
}

.tab-container-vertical > .tabs-wrapper > .nav-tabs-vertical > .nav-item > .nav-link.active {
    color: #FFD700;
}

/* Contenido de los Tabs */
.tab-container-vertical > .tab-content-vertical {
    flex-grow: 1;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 460px;
	position: relative;
}

.tab-container-vertical > .tab-content-vertical > .tab-pane {
	display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
	visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0s;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
}
.tab-container-vertical > .tab-content-vertical > .tab-pane > .tab-content-text{
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0s ;
}
.tab-container-vertical > .tab-content-vertical > .tab-pane > .tab-image{
	min-width: 100%;
}
.tab-container-vertical > .tab-content-vertical > .tab-pane > .tab-image > img{
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0s ;
	max-width: 390px;
	min-width: unset;
}

.tab-container-vertical > .tab-content-vertical > .tab-pane.active {
    visibility: visible;
	opacity: 1;
	transition: visibility 1s, opacity 1s ;
}
.tab-container-vertical > .tab-content-vertical > .tab-pane.active > .tab-image > img{
	visibility: visible;
	opacity: 1;
	transition: visibility 1s, opacity 1s ;
}
.tab-container-mobile{
	display: none;
}
	.nav-butons-mobile-vertical {
		display: none;
	}
/* Remove tab from home*/
#faq-home > .fl-module-content > .fl-html > .faq-tabs-wrapper > ul.faq-tabs-nav{
	display: none !important;
}
/* --- FAQ Tabs Wrapper --- */

ul.faq-tabs-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
	 min-width: 100%;
	overflow-x: scroll;
}

/* --- Tab Item --- */
li.faq-tab-nav-item {
    min-width: 278px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1EFEA;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
   /* text-transform: capitalize;*/
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease, border-bottom 0.3s ease;
}

li.faq-tab-nav-item.active {
    background: #ffffff;
    border-bottom: solid 5px #5166EC;
    color: #5166EC;
}

/* --- Content Wrapper --- */
.faq-tabs-content {
    max-width: 900px;
    margin: 50px auto 0 auto;
    padding: 0 20px;
}

/* --- Accordion Item --- */
.faq-accordion-item {
    margin: 10px 0;
    background: #ffffff;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.faq-accordion-item.open {
    box-shadow: 0px 6px 12px -2px rgba(0, 0, 0, 0.2);
}

/* --- Question --- */

.faq-question {
    position: relative;
    padding: 20px 48px 20px 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: 18px;
    line-height: 28px;
    color: #11181C;
}
img.faq-tab-icon {
    margin-right: 10px;
}

.faq-icon {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
}

.faq-icon .arrow {
    transition: transform 0.3s ease;
}

.faq-accordion-item.open .faq-icon .arrow {
    transform: rotate(180deg);
}

/* --- Answer --- */
.faq-answer {
    display: none;
    padding: 0 16px 20px 16px;
    animation: fadeIn 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
	line-height: 28px;
    color: #000000;
}
/*FAq*/
.faq-icon img {
    transition: transform 0.3s ease;
}

.faq-accordion-item.open .faq-icon img {
    transform: rotate(180deg);
}
/* Valoracion */
.schedule-button > .affiliate-single-redirection-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
/* --- Animation --- */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
}
@media(max-width: 1240px){
	ul.faq-tabs-nav { 
		justify-content: flex-start;
	}
}
@media(max-width: 1092px){
	/*Faq*/
	

	.faq-tabs-content {
		max-width: 100%;
		margin: 20px auto 0 auto;
		padding: 0;
	}
	.faq-question {
		position: relative;
		padding: 15px 48px 15px 16px;
		font-family: 'Poppins', sans-serif;
		cursor: pointer;
		font-size: 18px;
		line-height: 24px;
	}
}
@media(max-width: 935px){
	li.faq-tab-nav-item{
		min-width: 220px !important;
		max-width: 220px !important;
	}
}
@media(max-width: 799px){
	
	.faq-tabs-nav {
        white-space: nowrap;
        width: 100%;
        flex-wrap: nowrap !important;
        overflow-x: scroll;
        min-width: 100% !important;
        max-width: 100%;
		justify-content: flex-start !important;
    }
}

/* Aplicar cambios en pantallas menores a 768px */
/* Ocultar la versión desktop y activar la versión móvil */
@media (max-width: 768px) {
	.program-ahorros-wrapper {
		margin: 0;
	}
	
    .tab-container-desktop {
        display: none;
    }
    .tab-container-mobile {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding: 0px;
    }
	.tab-container-vertical {
		gap: 0 20px;
	}
	.tab-content-mobile-vertical {
		display: flex;
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
	}

	.tab-pane-mobile-vertical {
		flex: 0 0 100%;
		scroll-snap-align: start;
	}

    /* Estilos para la lista de tabs */
    .tab-container-mobile .tabs-wrapper {
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        width: 100%;
        padding-bottom: 10px;
		min-height: 40px;
		padding: 0 20px;
		overflow: unset;
    }
	.tab-container-mobile > .tabs-wrapper > .nav-tabs-vertical,
	#conoce-mas> .tab-container-mobile > .tabs-wrapper > .nav-tabs-vertical{
		white-space: normal;
	}
	.tab-container-mobile .tabs-wrapper .nav-tabs-vertical .nav-item,
	#conoce-mas> .tab-container-mobile > .tabs-wrapper > .nav-tabs-vertical > li.nav-item{
		min-width: 100%;
        max-width: 100%;
		background: transparent;
	}
	.tab-container-mobile > .tabs-wrapper > .nav-tabs-vertical > li.nav-item > .nav-link-mobile-vertical > .tab-title,
	#conoce-mas> .tab-container-mobile > .tabs-wrapper > .nav-tabs-vertical > li.nav-item > .nav-link-mobile-vertical > .tab-title{
		min-width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		line-height: 20px;
		padding-top: 3px;
	}
	
    .tab-container-mobile .tabs-wrapper .nav-tabs-vertical {
        display: flex;
		flex-direction: row;
		white-space: nowrap;
		width: 100%;
		overflow-x: scroll;
    }
	.tab-container-mobile .tabs-wrapper .nav-tabs-vertical::-webkit-scrollbar {
		background: #EEF0FF;
		border-radius: 20px;
		height: 10px;
	}
	.tab-container-mobile .tabs-wrapper .nav-tabs-vertical::-webkit-scrollbar-thumb {
	  	background: #FFD700;
		border-radius: 20px;
		max-width: 20px !important;
		min-width: 20px !important;
		width: 20px !important;
	}
	
	/*
	.tab-container-mobile .tabs-wrapper .nav-tabs-vertical .nav-item{
		flex-shrink: 0;
        scroll-snap-align: start;
        min-width: 43%; /* Mostrar 2 completos y parte del tercero 
        text-align: center;
        height: fit-content !important;
		background: #ffffff;
		padding-bottom: 7px;
	}*/
	
	.tab-container-mobile .tabs-wrapper .nav-tabs-vertical .nav-item .nav-link .tab-title{
		font-size: 12px;
	}
	.tab-title{
		font-size: 16px !important;
		min-width: 220px;
        text-align: center !important;
    }

    .tab-container-mobile .nav-tabs-vertical .nav-item {
        flex-shrink: 0;
        scroll-snap-align: start;
        min-width: calc(100% / 2.5); /* Mostrar 2 completos y la mitad del tercero */
        text-align: center;
    }

    /* Estilos para los botones de tabs */
    .tab-container-mobile .nav-tabs-vertical .nav-link {
        font-size: 16px;
        font-weight: 600;
        color: #1a1a1a;
        background: none;
        border: none;
        cursor: pointer;
        text-align: center;
        padding: 8px 12px;
        transition: color 0.3s ease-in-out;
    }

    .tab-container-mobile .nav-tabs-vertical .nav-link.active {
        color: #5166EC; /* Color azul para el tab activo */
        font-weight: bold;
    }

    /* Barra de progreso */
	
     .tab-container-mobile .progress-bar-container {
		 position: relative;
		 width: 100%;
		 height: 30px !important;
		 min-height: 30px;
		 margin-top: 5px;
		 border-radius: 10px;
		 overflow: hidden;
		 margin-bottom: 0;
		 margin-left: 20px;
		 margin-right: 20px;
    }
   .tab-container-mobile .progress-bar-container .progress-bar-back {
        width: 100% !important;
        height: 10px !important;
        min-height: 10px;
	   margin-top: 5px;
    }

    .tab-container-mobile .progress-bar-container .progress-bar {
        width: 40px !important;
        height: 20px !important;
        background: #FFD700;
        transition: width 0.3sease-in-out, left 0.3sease-in-out;
        position: absolute;

		border-radius: 10px;
	}


    /* Contenido del tab */
    .tab-container-mobile .tab-content-vertical {
        text-align: left;
        margin-top: 20px;
		padding: 0 20px;
    }

    .tab-container-mobile .tab-pane {
        display: none;
    }
	.nav-item.nav-item-mobile-vertical {
    	height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
		min-width: 100%;
		flex-direction: column;
	}
	
	 div.nav-link.active > .tab-title{
		color: #5166EC;
        font-family: 'Poppins';
        font-size: 16px;
        font-weight: 700;
        padding: 0 20px 10px 20px;
        line-height: 20px;
	}
	.nav-separator {
		min-height: 10px;
		width: 165px;
		background: #F9DE42;
		border-radius: 20px;
	}
	
    .tab-container-mobile .tab-pane.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
	.tab-container-vertical > .tab-content-vertical {
		flex-grow: 1;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		min-height: 75vh;
		position: relative;
	}
	.nav-butons-mobile-vertical {
		position: absolute;
		z-index: 10;
		left: 10px;
		right: 10px;
		bottom: 30%;
		height: fit-content;
		width: 95%;
		display: flex;
		justify-content: space-between;
		margin: auto;
	}

    /* Estilos para el excerpt */
    .tab-container-mobile .tab-pane .tab-excerpt {
        font-size: 16px;
        font-weight: 400;
        color: #000;
        text-align: left;
        margin-bottom: 15px;
        max-width: 100%;
    }

    /* Imagen con fondo amarillo */
    .tab-container-mobile .tab-pane .tab-image {
        position: relative;
        width: 100%;
        max-width: 100%;
		padding: 0;
    }

    .tab-container-mobile .tab-pane .tab-image img {
        display: block;
        width: 100%;
        z-index: 2;
        position: relative;
    }

    /* Fondo amarillo detrás de la imagen */
    .tab-container-mobile .tab-pane .tab-image::before {
        content: "";
        position: absolute;
        top: 10%;
        left: 5%;
        width: 90%;
        height: 90%;
       /* background: #FFD700;*/
        border-radius: 30px;
        z-index: 1;
    }
	/*card horizontal tab on mobile*/
	.tab-card-mobile-item .tab-card-mobile-title .tab-title{
		font-size: 18px;
		line-height: 28px;
		text-align: center;
	}
	.tab-card-mobile-item .tab-card-mobile-excerpt .tab-excerpt{
		font-size: 18px ;
		line-height: 32px;
	}
	.tab-card-mobile-item .tab-card-mobile-content {
		font-size: 16px ; 
		line-height: 20px;
		margin-top: 20px;
	}
	.tab-card-mobile-item .tab-card-mobile-image .tab-image{
		width: 100%;
	}
	.tab-card-mobile-item{
		padding: 20px 0;
		border-bottom: solid 1px #000000;
		margin-top: 20px;
	}
	.tab-card-mobile-item:nth-child(4){
		border-bottom: none;
	}
	/*Faq*/
	

    .faq-tab-nav-item {
        min-width: 43% !important;
		max-width: 43%;
		width: 43%;
    }
	.faq-question{
        font-size: 16px;
		line-height: 20px;
	}
	.faq-answer{
        font-size: 14px;
		line-height: 20px;
	}
	.schedule-button > .affiliate-single-redirection-button-container {
    
    	margin-left: -30px;
	}
}

